{% extends 'base.html' %}
{% block content %}
<section class="privacy-policy">
    <article>
        <h2>1- Les règles de confidentialité</h2>
        <p>Abidjan, 23 juin 2022 MAT : L’actualité politique en Côte d’Ivoire est liée aux auditions entamées ce lundi 22 mars 2022 ...</p>
        <p>Hier, les sénateurs ont interrogé des experts français du vote électronique. ...</p>
        <p>... Il a également exprimé ses préoccupations quant aux coûts associés ...</p>
        <p>... La CENI doit voter une loi ...</p>
        <p>... L’analyste politique a dit ...</p>
        <p>... Le ministre a rassuré les électeurs que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
        <p>... La CEVE a organisé plusieurs conférences en ligne ...</p>
        <p>... Le ministre a rappelé que ...</p>
        <p>... La CEVE a recommandé que ...</p>
        <p>... La CEVE a déclaré que ...</p>
        <p>... Le ministère des Affaires Étrangères a souligné que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
    </article>
    <article>
        <h2>2- Les règles de confidentialité</h2>
        <p>Abidjan, 23 juin 2022 MAT : L’actualité politique en Côte d’Ivoire est liée aux auditions entamées ce lundi 22 mars 2022 ...</p>
        <p>Hier, les sénateurs ont interrogé des experts français du vote électronique. ...</p>
        <p>... Il a également exprimé ses préoccupations quant aux coûts associés ...</p>
        <p>... La CENI doit voter une loi ...</p>
        <p>... L’analyste politique a dit ...</p>
        <p>... Le ministre a rassuré les électeurs que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
        <p>... La CEVE a organisé plusieurs conférences en ligne ...</p>
        <p>... Le ministre a rappelé que ...</p>
        <p>... La CEVE a recommandé que ...</p>
        <p>... La CEVE a déclaré que ...</p>
        <p>... Le ministère des Affaires Étrangères a souligné que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
    </article>
    <article>
        <h2>3- Les règles de confidentialité</h2>
        <p>Abidjan, 23 juin 2022 MAT : L’actualité politique en Côte d’Ivoire est liée aux auditions entamées ce lundi 22 mars 2022 ...</p>
        <p>Hier, les sénateurs ont interrogé des experts français du vote électronique. ...</p>
        <p>... Il a également exprimé ses préoccupations quant aux coûts associés ...</p>
        <p>... La CENI doit voter une loi ...</p>
        <p>... L’analyste politique a dit ...</p>
        <p>... Le ministre a rassuré les électeurs que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
        <p>... La CEVE a organisé plusieurs conférences en ligne ...</p>
        <p>... Le ministre a rappelé que ...</p>
        <p>... La CEVE a recommandé que ...</p>
        <p>... La CEVE a déclaré que ...</p>
        <p>... Le ministère des Affaires Étrangères a souligné que ...</p>
        <p>... La communauté européenne des experts du vote électronique (CEVE) ...</p>
    </article>
</section>
{% endblock %}
