{% extends 'base.html' %}
{% block content %}
<section>
    <h1>Fonctionnalités</h1>
    <p>Description des fonctionnalités du système de vote électronique sécurisé.</p>
    <div class="banner" style="background: url('static/images/cybersecurity-web.jpg') no-repeat center center;">
        <h2 style="color: width;">Fonctionnalités</h2>
    </div>
</section>

<section class="fonctionnalite">
    <h2>Fonctionnalité de sécurité</h2>
    <div class="cards">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</section>
<section class="process">
    <h2>Comment sont faits les votes</h2>
</section>
<section class="details">
    <article>
        <h3>7 FONCTIONNALITÉS D'UN SITE WEB ESSENTIELLES À VOTRE SUCCÈS</h3>
        <p><strong>Publié le 4 octobre 2023</strong></p>
        <p>Lors de la création d’un site web, certaines fonctionnalités essentielles, c'est un peu comme une boussole pour les visiteurs... (etc)</p>
        <h4>1. Un gestionnaire de contenu (CMS) facile à utiliser et populaire</h4>
        <p>La création de site web commence par l'édition rapide des textes et la création de page. Un CMS populaire est une garantie d'avoir accès à des milliers de modules et de développeurs...</p>
    </article>
</section>

{% endblock %}
