{% extends 'base.html' %}
{% block content %}
<section>
    <h1>Journal</h1>
    <p>Actualités et informations récentes.</p>
    <div class="banner">
        <h2>Suivez l'actualitées</h2>
    </div>
</section>
<section class="date">
    <p>Date : 12/07/2024</p>
</section>
<section class="news">
    <div class="news-item">
        <img src="static/images/affiche-electoral.jpg" alt="Image 1">
        <div class="news-content">
            <h3>Plus simple, plus rapide et plus fiable</h3>
            <p>Publié par Patrick Saha le 23 mai 2023. Informations : 5,343. Relectures avec les USA Today: 2,005, Essentiellement: 11,923. Téléphones portables: 3,322. Téléspectateurs: 10.</p>
            <button class="btn" onclick="window.location.href='details.html'">En savoir plus</button>
        </div>
    </div>
    <div class="news-item">
        <div class="news-content">
            <h3>Les biens fait du président pour la Côte d'Ivoire</h3>
            <p>L’ordonnance N° 2020-318 du 05 avril 2020 portant création de l’Agence Côte d’Ivoire PME (Agence CI-PME) avait pour objectif de créer un organe doté d’une personnalité morale et d’une autonomie financière afin de conduire la politique de développement des PME en Côte d’Ivoire...</p>
            <button class="btn" onclick="window.location.href='journal.html'">Suivre le journal</button>
        </div>
        <img src="static/images/affiche-electoral.jpg" alt="Image 2">
    </div>
</section>
<section class="date">
    <p>Date : 26/07/2024</p>
</section>
<section class="news">
    <div class="news-item">
        <img src="static/images/affiche-electoral.jpg" alt="Image 1">
        <div class="news-content">
            <h3>Plus simple, plus rapide et plus fiable</h3>
            <p>Publié par Patrick Saha le 23 mai 2023. Informations : 5,343. Relectures avec les USA Today: 2,005, Essentiellement: 11,923. Téléphones portables: 3,322. Téléspectateurs: 10.</p>
            <button class="btn" onclick="window.location.href='details.html'">En savoir plus</button>
        </div>
    </div>
</section>
{% endblock %}
